*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
BallTest/BallTest/bin/
BallTest/bin/
BallTest/BallTest/obj/
BallTest/obj/
BallTest/Content/obj/
!BallTest/x64
!BallTest/x86
!BallTest/Libraries
